.leaflet-container{
    height: 30rem;
    width: 30rem;
}

@media (max-width: 640px){
    .leaflet-container{
        height: 20rem;
        width: 20rem;
    }
}

@media (max-width: 340px){
    .leaflet-container{
        height: 15rem;
        width: 15rem;
    }
}